<%= link_to 'Yelp', restaurants_path, class: "yelp" %>
<div>Restaurant details
</div>

<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>
Reviews
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %></li>
  <% end %>
</ul>
<%= link_to 'edit', edit_restaurant_path %>
<%= link_to 'delete', restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'back to the list', restaurants_path %>
<p><%= link_to 'add your own review', new_restaurant_review_path(@restaurant) %></p>
