<h1>Yelp</h1>
Restaurant details

<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>
<%= link_to 'edit', edit_restaurant_path %>
<%= link_to 'delete', restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'back to the list', restaurants_path %>
